#section_three {
	padding:0 75px 112px;
	width:100%;
}


.sec_three_inner {
	max-width:1645px;
	margin:182px auto 0;
	display: flex;
	h1 {
		color:$greentwo;
		font-size:100px;
		line-height: 100px;
		font-family: $questa;
		font-weight: 500;
		//border-bottom:1px solid $browntwo;
		padding-bottom:47px;
		position: relative;
		&:before {
			content:"";
			display: block;
			width:100%;
			height:1px;
			background: $browntwo;
			position: absolute;
			bottom:0;
			left:0;
		}
		&:after {
			content:"";
			width:92px;
			height:3px;
			display: block;
			background: $browntwo;
			position: absolute;
			bottom:-1px;
			left:0;
		}
		ul {
			
		}
	}
}


.sec_three_left {
	flex-basis: 50%;
	padding-right:55px;
	flex-shrink: 0;
	.accolades {
		display: flex;
		padding:79px 0 0;
		ing {
			max-width: 100%;
			height:auto;
			display: block;
		}
		img.dekstop {
			margin-right:21px;
		}
		span {
			display: block;
		}
		span.teeup {
			color:#000;
			font-size:20px;
			line-height: 25px;
			font-family: $aktiv;
			font-weight: 400;
			margin-bottom:28px;
		}
		span.question {
			font-family: $questa;
			font-weight: 500;
			font-style: italic;
			font-size: 36px;
			line-height: 37px;
			color:$browntwo;
			margin-bottom:32px;
		}
		span.answer {
			color:$greentwo;
			font-size:18px;
			line-height: 20px;
			letter-spacing: 0.14em;
			text-transform: uppercase;
			font-family: $aktiv;
			font-weight:800;
		}
	}
	.sec_three_content {
		font-size:20px;
		line-height: 35px;
		color:#000;
		font-family: $aktiv;
		font-weight: 400;
		margin-top:30px;
	}
}

.sec_three_right {
	flex-grow:1;
	margin:28px 0 0;
}

	.accolades_laptop_layout {
		img.laptop {
			display: none;
		}
	}

.sec_three_image.laptop, .sec_three_image.mobile {
	display: none;
}


.sec_three_image {
	float:right;
	margin-right:20px;
	position: relative;
	cursor: pointer;
	a {
		display: block;
	}
	&:hover {
		.video_wrapper {
			background: rgba(0,0,0,0.4);
			svg#play_button {
				.play_button-st0{opacity:0.35;fill:#FFFFFF;}
				.play_button-st1{fill:$brownone;}
				.play_button-st2{fill:#fff;}
			}
		}
		
	}
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
	.video_wrapper {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		transition: all 200ms ease-in-out;
		svg#play_button {
			width:160px;
			height:160px;
			position: relative;
			z-index: 1;
		}
	}
	.video_inner {
		width:100%;
		position: absolute;
		bottom:0px;
		left:0%;
		height:224px;
		span.line {
			width:1px;
			height:100%;
			display: block;
			background: #fff;
			margin:0 auto;
		}
		.video_box {
			background:$greentwo;
			width:355px;
			height:145px;
			margin-left:11%;
			margin-top:-103px;
			display: flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left:30px;
			padding-right:30px;
			img {
				width:80px;
				height:80px;
			}
			span {
				color:#fff;
				font-size:18px;
				line-height: 25px;
				letter-spacing: 0.05em;
				font-family: $aktiv;
				font-weight: 500;
				display: block;
				max-width: 191px;
			}
		}
	}
	
}





svg#play_button {
	.play_button-st0{opacity:0.35;fill:#FFFFFF;}
	.play_button-st1{fill:#fff;transition: all 200ms ease-in-out;}
	.play_button-st2{fill:$brownone;transition: all 200ms ease-in-out;}
}





span.as_seen {
	text-transform: uppercase;
	font-family: $aktiv;
	font-weight: 800;
	color:$greentwo;
	font-size:16px;
	letter-spacing: 0.2em;
	text-align: center;
	display: block;
	margin:90px 0 0;
	&:before, &:after {
		content:"";
		width:95px;
		height:3px;
		display: block;
		background:$browntwo;
		margin:0 auto;
	}
	&:before {
		margin-bottom:37px;
	}
	&:after {
		margin-top:37px;
	}
}


svg#arrow {
	.arrow-st0 {
		fill:none;
		stroke:#C97F5A;
		stroke-miterlimit:10;
		transition: all 200ms ease-in-out;
	}
}


.sec_three_press {
	max-width:1690px;
	margin:90px auto 0;
	display: flex;
	align-items: center;
	.press_button {
		cursor: pointer;
		&:hover {
			svg#arrow {
				.arrow-st0{stroke:$greentwo}
			}
		}
		svg {
			width:55px;
			height:55px;
		}
	}
	.press_left {
		svg {
			transform: rotate(180deg);
		}
	}
	.press_right {
		
	}
	.press_slider {
		width:calc(100% - 110px);
		.press_single_slide {
			display: flex !important;
			justify-content: center;
			align-items: center;
			height:101px;
			img {
				display: block;
				max-width:100%;
				height:auto;
				max-height:101px;
			}
		}
	}
}

.sec_three_bottom_content {
	max-width: 1540px;
	margin:132px auto 0;
	column-count:2;
	column-gap:100px;
}


.sec_three_bottom_content.content {
	h2, h3, p, ul, li {
		width:100%;
		display: inline-block;
	}
	h2 {
		margin-bottom:27px;
	}
	p, ul, ol {
		margin-bottom:50px;
	}
	ul {
		li {
			margin-bottom:20px;
		}
	}
}


@media screen and (max-width: 1615px) {
	
	
	.sec_three_inner {
		margin: 130px auto 0;
		h1 {
			max-width:890px;
		}
	}
	
	
	.sec_three_left {
		flex-basis: 100%;
		padding-right:0;
		.accolades {
			padding: 99px 0 0;
			span.teeup {
				margin-bottom: 48px;
				//max-width: 384px;
			}
			span.question {
				//max-width: 280px;
			}
		}
	}
	.sec_three_right {
		display: none;
	}
	
	
	
	
	.sec_three_image {
		margin-right:0px;
		.video_inner {
			.video_box {
				width:405px;
				height: 108px;
				span {
					max-width: 274px;
				}
			}
		}
	}
	
	.laptop_layout {
		display: flex;
		justify-content: space-between;
	}
	
	.laptop_right {
		flex-shrink:0;
		flex-basis: 512px;
	}
	
	
	
	.sec_three_image.laptop {
		display: block;
		margin-top: 89px;
	}
	
	.accolades_desktop_image {
		display: none;
	}
	
	.laptop_layout_inner {
		padding-right:45px;
	}
	
	
	.accolades_laptop_layout {
		display: flex;
	
		img.laptop {
			display: block;
			
		}
	}
	
	
	.accolades_laptop_inner_layout {
		margin-left:45px
	}
	
	
	.sec_three_image {
		.video_wrapper {
			svg#play_button {
				width:146px;
				height:146px;
			}
		}
		.video_inner {
			.video_box {
				margin-top: -36px;
			}
		}
	} 
	
	    
	
	
} /* Media Query */




@media screen and (max-width: 1450px) {
	
	#section_three {
		padding-bottom:61px;
	}
	
	.sec_three_inner {
		max-width:1099px;
		h1 {
			max-width: 757px;
		}
	}
	
	
	
	.sec_three_left {
		.sec_three_content {
			max-width: 485px;
		}
		.accolades {
			
			span.teeup {
				max-width: 384px;
			}
			span.question {
				max-width: 280px;
			}
		}
	}
	.sec_three_right {
		display: none;
	}


.sec_three_press {
	max-width:1190px;
	margin: 95px auto 0;
}






.sec_three_bottom_content {
	max-width:1100px;
	column-gap: 80px;
	margin: 109px auto 0;
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1200px) {
	
	
	
	.sec_three_image.laptop {
		margin-left:auto;
		margin-right:auto;
		float:none;
		max-width: 729px;
	}
	
	
	.laptop_layout {
		flex-direction: column;
	}
	
	
	.laptop_layout_inner {
		order:2;
		max-width: 730px;
		margin-left:auto;
		margin-right: auto;
		padding-right:0;
	}
	
	
	.laptop_right {
		order:1;
	}
	
	
	
	.sec_three_image {
		.video_inner {
			.video_box {
				
				margin-left:auto;
				margin-right:auto;
			}
		}
	} 
	
	
	.sec_three_left {
		.accolades {
			padding: 130px 0 0;
			span.teeup {
    		max-width: 100%;
			}
			span.question {
				max-width: 100%;
			}
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	#section_three {
	padding-bottom: 40px;
	}
	
	
.sec_three_bottom_content {
	max-width:1100px;
	column-gap: 80px;
	margin: 80px auto 0;
	column-count:1;
}

span.as_seen {
	margin: 91px 0 0;
}

.sec_three_press {
	margin: 54px auto 0;
}


	.sec_three_image {
		.video_inner {
			.video_box {
				margin-top: -26px;
			}
		}
	} 

.sec_three_left {
	.accolades {
		padding: 141px 0 0;
		span.question {
			margin-bottom: 26px;
		}
	}
	.sec_three_content {
		max-width:100%;
	}
}
	
	
} /* Media Query */



@media screen and (max-width: 945px) {
	
	
	
	.sec_three_inner {
		margin: 85px auto 0;
		h1 {
			font-size: 65px;
			line-height: 67px;
			padding-bottom: 36px;
		}
	}
	
	
	.sec_three_image.laptop {
		max-width:513px;
		margin-top: 64px;
	}
	
	.sec_three_left {
		.sec_three_content {
			margin-top: 36px;
			
		}
		.accolades {
			 padding: 61px 0 0;
			 span.question {
					max-width: 282px;
			}
			span.answer {
    			max-width: 282px;
				}
		}
	}
	
	
	.accolades_laptop_layout {
		justify-content: center;
		img.laptop {
			width:134px;
			height:130px;
		}
	}
	
	
	span.as_seen {
		margin: 44px 0 0;
	}
	
	   
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	#section_three {
		padding-left:0;
		padding-right:0;
		padding:0 0 3px;
	}

	
	
.sec_three_inner {
	margin: 146px auto 0;
	padding-left:25px;
	padding-right:25px;
	h1 {
		font-size: 50px;
		text-align: center;
		max-width: 300px;
		margin-left:auto;
		margin-right:auto;
		line-height: 50px;
		max-width: 362px;
		padding-bottom: 34px;
		&:before {
			
		}
		&:after {
			position: relative;
			margin-left:auto;
			margin-right:auto;
			bottom:-35px;
		}
	}
}


.laptop_right {
	display: none;	
}
	
	
	.sec_three_image.laptop {
		display: none;
	}
	
	.sec_three_image.mobile {
		max-width:100%;
		display: block;
		float:none;
	}
	
	
	.sec_three_image {
		
		.video_inner {
			 .video_box {
				 margin-top:0;
				 width:100%;
				 justify-content: center;
				 img {
					 width: 65px;
					 height: 65px;
					 margin-right:10px;
				 }
			}
		}
	}
	
	
	.sec_three_left  {
		.accolades {
			flex-direction: column;
			padding: 29px 0 0;
			span.question {
				margin-bottom: 37px;
			}
			img.dekstop {
				margin-left:auto;
				margin-right:auto;
				display: block;
				width:134px;
				height:130px;
			}
			span {
				text-align: center;
			}
			span.teeup {
				max-width:350px;
				margin:0 auto 26px;
			}
		}
		.sec_three_content {
			margin-top: 39px;
			font-size:18px;
			line-height: 34px;
		}
	}
	
	.accolades_desktop_image {
		display: block;
	}
	
	
	.accolades_laptop_layout {
		img.laptop {
			display: none;
		}
	} 


	.accolades_content {
		margin-top: 33px;
	}
	
	.accolades_laptop_inner_layout {
		margin-left:0;
	}
	
	
	.sec_three_press {
		margin: 74px auto 0;
		padding-left:20px;
		padding-right:20px;
	}
	
	    
	.sec_three_bottom_content {
		padding-left:25px;
		padding-right:25px;
		margin: 75px auto 0;
	}
	
		
	
} /* Media Query */


@media screen and (max-width: 480px) {
	
	
	
	
	.sec_three_image {
		img.mobile {
			object-fit:cover;
			object-position: 50% 0%;
			width:100%;
			height:350px;
		}
	}
	
	
	
	
	
} /* Media Query */