header {
	width:100%;
	height:178px;
	position: absolute;
	top:0;
	left:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}


.header_left {
	flex-grow:1;
	padding:0 0 0 30px;
	a {
		img.logo {
			width:526px;
		}
		img.logo_mobile {
			display: none;
		}
	}
}

.header_right {
	flex-basis: 1015px;
	text-align: right;
	margin-top:-6px;
	span.consult_title {
		font-family: $aktiv;
		font-weight: 700;
		color:$browntwo;
		font-size:18px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		display: inline-block;
	}
	span.consult_title.tablet {
		display: none;
	}
	a.phone {
		font-family:$rozha;
		font-size:47px;
		color:$greenone;
		text-decoration: none;
		margin-right:45px;
		display: inline-block;
		margin-left:15px;
	}
}


header.grey_header {
	background:#242424;
	height:182px;
	position: static;
	nav {
		margin-top: 0px;
	}
	.header_right {
		margin-top:-9px;
		a.phone {
			color:#fff;
		}
	}
}

nav {
	position: relative;
	z-index:20;
	ul {
		list-style: none;
		li {
			font-family: $aktiv;
			font-weight: 700;
			font-size:18px;
			letter-spacing: 0.05em;
			line-height: 24px;
			text-align: left;
			a {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: space-between;
		text-align: left;
		border-bottom: 1px solid #fff;
		margin-top:6px;
		padding-right:35px;
		padding-left:55px;
		> li.current-menu-item, > li.current-menu-ancestor {
				&:before {
					content:"";
					width:11px;
					height:11px;
					display: block;
					background:$browntwo;
					margin:0 auto;
					border-radius: 50%;
					position: relative;
					top:58px;
					opacity: 1;
					visibility: visible;
					transition: all 200ms ease-in-out;
				}
		}
		> li.menu-item-has-children {
				&:hover {
					&:before {
						opacity: 0;
						visibility: hidden;
					}
					ul.sub-menu {
						opacity: 1;
						visibility: visible;
					}
				}
				&:after {
					content:"";
					width:7px;
					height:7px;
					display: inline-block;
					background:$greenone;
					vertical-align: top;
					transform: rotate(-45deg);
					margin:10px 0 0 2px;
				}
		}
		> li {
				color:#fff;
				text-transform: lowercase;
				position: relative;
				padding-bottom:28px;
				&:hover {
					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
				&:before {
					content:"";
					width:11px;
					height:11px;
					display: block;
					background:$browntwo;
					margin:0 auto;
					border-radius: 50%;
					position: relative;
					top:58px;
					opacity: 0;
					visibility: hidden;
					transition: all 200ms ease-in-out;
				}
				> a {
						color:#fff;
				}
		}
	}
	ul.sub-menu {
		position: absolute;
		background:$greytwo;
		z-index: 1;
		top:63px;
		width:260px;
		left:-25px;
		opacity: 0;
		visibility: hidden;
		transition: all 200ms ease-in-out;
		>li {
			padding:20px 25px;
			border-bottom:1px solid #fff;
			text-align: left;
			&:last-of-type {
				border-bottom: none;
			}
			> a {
					color:$greentwo;
					display: block;
					transition: all 200ms ease-in-out;
					&:hover {
						color:$browntwo;
					}
			}
		}
	}
}


.phone_icon, .mobile_menu {
	display: none;	
}


@media screen and (max-width: 1580px) {
	
	
.header_left {
	flex-grow:1;
	padding:0 0 0 30px;
	margin-right: 26px;
	a {
		img.logo {
			width:350px;
		}
	}
}



	
	
} /* Media Query */



@media screen and (max-width: 1480px) {
	
	
	nav {
		ul.menu {
			padding-left: 40px;
		}
	}
	
	.header_right {
		flex-basis: 1072px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1280px) {
	
	
	nav {
		ul.menu {
    	padding-left: 9px;
		}
	}
	
	
} /* Media Query */

@media screen and (min-width: 1230px) {
	
	
	
	nav.open {
		display: block !important; // Opens nav when moving browser from tablet to desktop
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1230px) {
	

header {
	align-items: flex-start;
	position: fixed;
	background: transparent;
	transition: all 350ms ease-in-out;
	height: 85px;
}


header.grey_header {
	height:85px;
	position: fixed;
}


header.visible {
	background:#242424;
}


.header_left {
	padding-top: 12px;
	flex-grow:0;
	a {
		img {
			
		}
	}
}

.header_right {
	height:80px;
	display: flex;
	justify-content: flex-end;
	flex-shrink: 0;
	flex-basis: auto;
	margin-top:0;
	span.consult_title {
		display: block;
	}
	span.consult_title.desktop {
		display: none;
	}
	span.consult_title.tablet {
		display: block;
		font-size:16px;
	}
	a.phone {
		margin-right:0;
		font-size:35px;
		color:#fff;
		margin-top:4px;
	}
}
	
	
	
	.consult_phone_wrapper {
		padding-top: 17px;
	}
	
	
	
	

body:not(.page-template-template-home) {
	header {
		background:#242424;
	}
	header.grey_header {
		.header_right {
			margin-top:0;
		}
	}
	.header_left {
		
	}
	.header_right {

	}
	.consult_phone_wrapper {
    
	}
	.mobile_menu {
		
	}
}

	
	
	
	nav {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		background: $greyone;
		z-index:20;
		display: none;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		ul {
			li {
				text-align: center;
				a {
					
				}
			}
		}
		ul.menu {
			display: block;
			padding:0;
			margin-top: 80px;
			> li.menu-item-has-children {
					
			}
			> li.menu-item-has-children {
					&:hover {
						ul.sub-menu {
							opacity: 0;
							visibility: hidden;
						}
					}
					&:after {
						display: none;
					}
					> a {
							position: relative;
							&:after {
								position: absolute;
								top:20px;
								right:-18px;
								content: "";
								width: 7px;
								height: 7px;
								display: inline-block;
								background: #008964;
								vertical-align: top;
								transform: rotate(-45deg);
								margin: 10px 0 0 2px;
							}
					}
					
					ul.sub-menu.open {
						opacity: 1;
						visibility: visible;
						max-height: 3000px;
					}
					
			}
			> li.current-menu-item, li.current-menu-ancestor {
					&:before {
						display: none;
					}
			}
			> li {
					padding:0px;
					border-bottom:1px solid $greytwo;
					&:before {
						display: none;
					}
					> a {
							padding: 20px 0px;
							display: inline-block;
							color:$greentwo;
					}
			}
		}
		
		ul.sub-menu {
			position: static;
			opacity: 0;
			visibility: hidden;
			width:100%;
			transition: all 400ms ease-in-out;
			max-height:0;
			opacity: 0;
			visibility: hidden;
			> li.current-menu-item {
					a {
						color:$browntwo;
					}
			}
			> li {
					text-align: center;
					padding:0;
					> a {
							padding: 21px 0px;
							&:hover {
								color:$browntwo;
							}
					}
			}
		}
	}
	
	

	
	.mobile_menu {
		display: block;	
		margin-left:20px;
		width:80px;
		flex-shrink: 0;
		height:85px;
		background:$greentwo;
		text-align: center;
		position: relative;
		z-index:25;
		cursor: pointer;
		.mobile_close {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			transition: all 300ms ease-in-out;
			display: flex;
			justify-content: center;
			align-items: center;
			.mobile_close_inner {
				width:34px;
				height:34px;
				&:before, &:after {
					content:"";
					width:100%;
					height:2px;
					background: #fff;
					display: block;
				}
				&:before {
					transform: rotate(-45deg);
					transform-origin: 36px 7px 0;
				}
				&:after {
					transform: rotate(45deg);
					transform-origin: 1px 9px 0;
				}
			}
		}
		.fade {
			opacity: 0;
			visibility: hidden;
		}
		.mobile_inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			transition: all 300ms ease-in-out;
		}
		span.menu_bars {
			display: block;
			width:100%;
			height:3px;
			background:#fff;
			margin:0 auto 6px;
			max-width:35px;
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $aktiv;
			font-weight: 700;
			font-size:10px;
			letter-spacing: 0.15em;
			display: block;
			padding-top:2px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	header {
		height:85px;
		align-items: center;
	}
	
	.header_left {
		padding: 0 0 0 17px;
		margin-right:0;
		a {
			img.logo  {
				display: none;
			}
			img.logo_mobile {
				display: block;
				width:220px;
				height: 22px;
			}
		}
	}
	
	
	
	.header_right {
		flex-basis: 160px;
		height: 85px;
	}
	
	

header.grey_header {
	height:85px;
}

	
	
	.consult_phone_wrapper {
		display: none;
	}
	
	.phone_icon {
		display: block;
		width:80px;
		height:85px;
		background: $browntwo;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		a {
			display: block;
			img {
				width:30px;
				height:30px;
			}
		}
	}
	
	.mobile_menu {
		margin-left:0;
		height: 85px;
	}
	
	
	
	nav {
		
		ul {
			li {
				font-size:16px;
				a {
					
				}
			}
		}
		ul.menu {
			
			> li.menu-item-has-children {
					
			}
			> li.menu-item-has-children {
					&:hover {
						ul.sub-menu {
							
						}
					}
					&:after {
						
					}
					> a {
							
							&:after {
								top: 18px;
							}
					}
					
					ul.sub-menu.open {
						
					}
					
			}
			> li.current-menu-item, li.current-menu-ancestor {
					&:before {
						 
					}
					&:after {
						
					}
			}
			> li {
					
					&:before {
						
					}
					> a {
							padding: 18px 0px;
					}
			}
		}
		
		ul.sub-menu {
			
			> li.current-menu-item {
					a {
						
					}
			}
			> li {
					
					> a {
							padding: 18px 0px;
							&:hover {
								
							}
					}
			}
		}
	}

	
	
	
} /* Media Query */


@media screen and (max-width: 400px) {
	
	
	.header_left {
		padding-right:10px;
		padding-left:10px;
		a {
			img {
				max-width:100%;
				height:auto;
			}
		}
	}
	
	
	
	
} /* Media Query */