body.page-template-template-caseresults {
	#internal_main {
		background: $greyone;
	}
}



.cr_filter_wrapper {
	max-width:917px;
	margin:77px auto 0;
	display: flex;
	justify-content: space-between;
}


.filter_inner {
	flex-basis: 48%;
	span.fitler_title {
		display: block;
		text-transform: uppercase;
		font-family: $aktiv;
		font-weight:800;
		font-size:18px;
		letter-spacing: 0.1em;
		text-align: center;
	}
	
}


.input_wrapper {
	margin-top:30px;
	position: relative;
	.input_parent {
		background:#fff;
		height:59px;
		padding:22px 23px 0;
		position: relative;
		cursor: pointer;
		span.input_placeholder {
			display: block;
			color:$browntwo;
			text-transform: uppercase;
			font-family: $aktiv;
			font-weight: 700;
			font-size:15px;
			letter-spacing: 0.1em;
			&:after {
				content:"";
				display: block;
				position: absolute;
				top:25px;
				right:23px;
				width:7px;
				height:7px;
				background: $greenone;
				transform: rotate(-45deg);
			}
		}
	}
	ul.input_list {
		display: none;
		list-style: none;
		background:#fff;
		border-top:1px solid $greytwo;
		position: absolute;
		top: 59px;
		left:0;
		width:100%;
		li {
			color:$browntwo;
			text-transform: uppercase;
			font-family: $aktiv;
			font-weight: 700;
			font-size:15px;
			letter-spacing: 0.1em;
			padding:18px 23px;
			border-bottom: 1px solid $greytwo;
		}
	}
}




.case_results_wrapper {
	max-width:1580px;
	margin:110px auto 0;
	padding-bottom:120px;
	display: flex;
	flex-wrap: wrap;
}


.single_case_result {
	text-align: center;
	height: 488px;
	background:#fff;
	position: relative;
	width:21.5%;
	margin: 0px 1.7% 40px;
	.single_cr_inner {
		padding:113px 0 0;
		span.amount {
			color:$greentwo;
			display: block;
			font-family: $rozha;
			font-size:90px;
		}
		span.cr_type {
			text-transform: uppercase;
			color:$greentwo;
			font-family: $aktiv;
			font-weight:800;
			font-size:16px;
			letter-spacing: 0.2em;
			display: block;
			margin-top:7px;
			&:after {
				content:"";
				display: block;
				width:65px;
				height:3px;
				background:$browntwo;
				margin: 45px auto 22px;
			}
		}
		ul.att_list {
			list-style: none;
			li {
				display: block;
				font-family: $aktiv;
				font-weight:400;
				color:#1b2f24;
				font-size:17px;
				line-height: 22px;
				margin-bottom:2px;
			}
		}
	}
	.single_cr_hover {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: $browntwo;
		display: flex;
		align-items: center;
		padding:0 15px;
		.cr_hover_inner {
			span {
				color:#fff;
				font-family: $aktiv;
				font-size:17px;
			}
			span.cr_date {
				display: block;
				text-transform: uppercase;
				font-weight:800;
				margin-bottom:20px;
				letter-spacing: 0.2em;
			}
			span.cr_description {
				font-weight: 400;	
				letter-spacing: 0.025em;
				line-height: 24px;
			}
		}
	}
}
