.sidebar_wrapper.att_sidebar {
	text-align: center;
	flex-basis:auto;
	width:560px;
}

.att_image_wrapper {
	width:100%;
	position: relative;
	&:after {
		content:"";
		width:100%;
		height:495px;
		position: absolute;
		top:0;
		left:0;
		background: $browntwo;
	}
	img {
		display: block;
		margin:0 auto;
		position: relative;
		z-index: 1;
		padding-top:80px;
		max-width: 100%;
		height:auto;
	}
}

.att_sidebar_info {
	padding:0 55px;
}


span.sidebar_att_title {
	color:$greentwo;
	font-size:35px;
	line-height: 35px;
	font-family: $questa;
	font-weight: 500;
	margin-top:25px;
	display: block;
}

a.att_results_button {
	background:$browntwo;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $aktiv;
	display: inline-block;
	font-weight:800;
	line-height: 13px;
	letter-spacing: 0.2em;
	font-size:13px;
	padding:9px 20px;
	margin-top:27px;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $greentwo;
	}
}


span.awards_title {
	display: block;
	text-transform: uppercase;
	border-top:1px solid $browntwo;
	display: block;
	margin-top:55px;
	padding-top:27px;
	font-family: $aktiv;
	font-weight: 800;
	color:$greentwo;
	letter-spacing: 0.2em;
	font-family: 16px;
	&:after {
		content:"";
		display: block;
		width:88px;
		height:3px;
		background:$browntwo;
		margin:40px auto 0;
	}
}


.att_bio_awards {
	width:100%;
	margin-top:55px;
	.bio_awards_single {
		img {
			display: block;
			margin:0 auto;
		}
	}
	.slick-dots {
		bottom: -67px;
		li.slick-active {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li {
			margin:0;
			width:18px;
			button {
				width:18px;
				&:before {
					width:18px;
					opacity: 1;
					color: $greentwo;
					font-size:24px;
				}
			}
		}
	}
}


span.att_video_title {
	display: block;
	margin-top:147px;
	text-transform: uppercase;
	color:$greentwo;
	font-family: $aktiv;
	font-weight:800;
	font-size:16px;
	letter-spacing: 0.2em;
	&:after {
		content:"";
		display: block;
		width:88px;
		height:3px;
		background:$browntwo;
		margin:40px auto 0;
	}
}


.att_video_slider {
	margin-top:55px;
	.slick-dots {
		bottom: -70px;
		li.slick-active {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li {
			margin:0;
			width:16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $greentwo;
					font-size:22px;
				}
			}
		}
	}
}


.att_yt {
	position: relative;
	&:hover {
		svg#play_button {
			.play_button-st0{
				opacity:0.35;
				fill:#FFFFFF;
			}
			.play_button-st1{
				fill:$brownone;
			}
			.play_button-st2{
				fill:#fff;
			}
		}
	}
	a {
		display: block;
		img {
			display: block;
			width:100%;
			height:auto;
		}
		.att_video_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(0,0,0,0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width:142px;
				height:142px;
			}
		}
	}
}



.att_slidetoggle {
	ul {
		list-style: none;
		li {
			font-family: $aktiv;
			margin-bottom:0;
			a {
				
			}
		}
	}
	ul.slidetoggle_list {
		> li {
				text-transform: uppercase;
				font-weight: 800;
				font-size:20px;
				line-height: 35px;
				letter-spacing: 0.1em;
				border-bottom:1px solid $grethree;
				padding:15px 0;
				&:last-of-type {
					border-bottom: none;
				}
				&:before {
					display: none;
				}
				> a {
						color:$greentwo;
						position: relative;
						cursor: pointer;
						&:hover {
							&:after {
								opacity: 1;
							}
						}
						&:after {
							width:7px;
							height:7px;
							background: $greenone;
							position: absolute;
							top:14px;
							right:-15px;
							transform: rotate(-45deg);
						}
				}
		}
	}
	ul.sub_list {
		padding-top:20px;
		padding-bottom:20px;
		margin-bottom:0;
		display: none;
		li {
			text-transform: none;
			margin-bottom:27px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}







