.sidebar_wrapper.att_sidebar {
	text-align: center;
	flex-basis:auto;
	width:560px;
}


body.page-template-template-bio {
	.container {
		width:calc(100% - 560px);
	}
}

.att_image_wrapper {
	width:100%;
	position: relative;
	&:after {
		content:"";
		width:100%;
		height:495px;
		position: absolute;
		top:0;
		left:0;
		background: $browntwo;
	}
	img {
		display: block;
		margin:0 auto;
		position: relative;
		z-index: 1;
		padding-top:80px;
		max-width: 100%;
		height:auto;
	}
}


.att_image_wrapper.tablet {
	display: none;
}

.att_sidebar_info {
	padding:0 55px;
}


span.sidebar_att_title {
	color:$greentwo;
	font-size:35px;
	line-height: 35px;
	font-family: $questa;
	font-weight: 500;
	margin-top:25px;
	display: block;
}

a.att_results_button {
	background:$browntwo;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $aktiv;
	display: inline-block;
	font-weight:800;
	line-height: 15px;
	letter-spacing: 0.2em;
	font-size:13px;
	padding: 9px 45px;
	margin-top:27px;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $greentwo;
	}
}


span.sidebar_att_title.tablet, a.att_results_button.tablet {
	display: none;
}


span.awards_title {
	display: block;
	text-transform: uppercase;
	border-top:1px solid $browntwo;
	display: block;
	margin-top:55px;
	padding-top:27px;
	font-family: $aktiv;
	font-weight: 800;
	color:$greentwo;
	letter-spacing: 0.2em;
	font-size: 16px;
	&:after {
		content:"";
		display: block;
		width:88px;
		height:3px;
		background:$browntwo;
		margin:40px auto 0;
	}
}


.att_bio_awards {
	width:100%;
	margin-top:55px;
	.bio_awards_single {
		img {
			display: block;
			margin:0 auto;
			max-width:100%;
			max-height:141px;
		}
	}
	.slick-dots {
		bottom: -67px;
		li.slick-active {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li {
			margin:0;
			width:18px;
			button {
				width:18px;
				&:before {
					width:18px;
					opacity: 1;
					color: $greentwo;
					font-size:24px;
				}
			}
		}
	}
}


span.att_video_title {
	display: block;
	margin-top:147px;
	text-transform: uppercase;
	color:$greentwo;
	font-family: $aktiv;
	font-weight:800;
	font-size:16px;
	letter-spacing: 0.2em;
	&:after {
		content:"";
		display: block;
		width:88px;
		height:3px;
		background:$browntwo;
		margin:40px auto 0;
	}
}


.att_video_slider {
	margin-top:55px;
	.slick-dots {
		bottom: -70px;
		li.slick-active {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$browntwo;
				}
			}
		}
		li {
			margin:0;
			width:16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $greentwo;
					font-size:22px;
				}
			}
		}
	}
}


.att_yt {
	position: relative;
	&:hover {
		svg#play_button {
			.play_button-st0{
				opacity:0.35;
				fill:#FFFFFF;
			}
			.play_button-st1{
				fill:$brownone;
			}
			.play_button-st2{
				fill:#fff;
			}
		}
	}
	a {
		display: block;
		img {
			display: block;
			width:100%;
			height:auto;
		}
		.att_video_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(0,0,0,0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width:142px;
				height:142px;
			}
		}
	}
}



.att_slidetoggle {
	ul {
		list-style: none;
		li {
			font-family: $aktiv;
			margin-bottom:0;
			a {
				
			}
		}
	}
	ul.slidetoggle_list {
		> li {
				text-transform: uppercase;
				font-weight: 800;
				font-size:20px;
				line-height: 35px;
				letter-spacing: 0.1em;
				border-bottom:1px solid $grethree;
				padding:15px 20px 15px 0;
				cursor: pointer;
				&:last-of-type {
					border-bottom: none;
				}
				&:before {
					display: none;
				}
				> a {
						color:$greentwo;
						position: relative;
						cursor: pointer;
						&:hover {
							&:after {
								opacity: 1;
							}
						}
						&:after {
							width:7px;
							height:7px;
							background: $greenone;
							position: absolute;
							top:14px;
							right:-15px;
							transform: rotate(-45deg);
						}
				}
		}
	}
	ul.sub_list {
		padding-top:20px;
		padding-bottom:20px;
		margin-bottom:0;
		display: none;
		li {
			text-transform: none;
			margin-bottom:27px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}


.additional_posts {
	padding-top:57px;
	span.add_title {
		color:$browntwo;
		font-size:35px;
		font-family: $questa;
		font-weight:500;
		display: block;
		position: relative;
		padding-bottom:42px;
		border-bottom:1px solid $browntwo;
		&:before {
			content:"";
			width:97px;
			height:3px;
			background:$browntwo;
			display: block;
			position: absolute;
			bottom:-2px;
		}
	}
	.posts_slider_wrapper {
		display: flex;
		align-items: center;
		width:100%;
		height:147px;
		margin-top:38px;
		.posts_button {
			width:30px;
			svg {
				width:30px;
				height:50px;
			}
		}
		.posts_left {
			svg {
				transform: rotate(-180deg);
			}
		}
		.posts_slider {
			width:calc(100% - 60px);
			height:100%;
			padding:0 30px;
			.post_single_slide {
				a {
					display: block;
					.post_single_slide_inner {
						position: relative;
						max-width:118px;
						margin:0 auto;
					}
					&:after {
						display: none;
					}
					img {
						display: block;
						max-width:100%;
						height:auto;
					}
					.posts_overlay {
						position: absolute;
						max-width:118px;
						top:0;
						left:0;
						width:100%;
						height:100%;
						background: rgba(0,0,0,0.6);
						display: flex;
						justify-content: center;
						align-items: center;
						padding:0 10px;
						span {
							display: block;
							color:#fff;
							font-size:14px;
							line-height: 18px;
							font-family: $aktiv;
							font-weight:700;
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1450px) {
	
	.sidebar_wrapper.att_sidebar {
		width:505px;
	}
	
	.att_image_wrapper {
		padding-left:55px;
		padding-right:55px;
		&:after {
			height: 448px;
		}
	}
	
	
	span.sidebar_att_title {
		max-width: 240px;
		margin-top: 39px;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	a.att_results_button {
		padding: 9px 40px;
	}
	
	
	span.awards_title {
		padding-top: 47px;
	}
	
	
.att_bio_awards {
	
	.bio_awards_single {
		img {
			
		}
	}
	.slick-dots {
		bottom:-50px;
		li.slick-active {
			button {
				&:before {
					
				}
			}
		}
		li:hover {
			button {
				&:before {
					
				}
			}
		}
		li {
			
			button {
			
				&:before {
					
				}
			}
		}
	}
}



span.att_video_title {
	margin-top: 127px;
}
	
	
	
.additional_posts {

	span.add_title {
		
		&:before {
			
		}
	}
	.posts_slider_wrapper {
		
		.posts_button {
			
			svg {
			
			}
		}
		.posts_left {
			svg {
				
			}
		}
		.posts_slider {
			
			.post_single_slide {
				a {
					
					.post_single_slide_inner {
						
					}
					&:after {
						
					}
					img {
						
					}
					.posts_overlay {
						
						span {
							
						}
					}
				}
			}
		}
	}
}
	
	
} /* Media Query */




@media screen and (max-width: 1230px) {
	
	
	
	.sidebar_wrapper.att_sidebar {
		width:100%;
		padding-bottom: 169px;
	}
	
	
	body.page-template-template-bio {
		.container {
    	width: 100%;
			padding: 98px 55px 143px;
		}
	} 
	
	.att_image_wrapper.desktop {
		display: none;
	}
	
	.att_image_wrapper.tablet {
		display: block;
		background:$greyone;
		img {
			padding-top: 83px;
		}
	}
	
	span.sidebar_att_title.desktop, a.att_results_button.desktop {
		display: none;
	}
	
	
	span.sidebar_att_title.tablet {
		display: block;
		margin:-9px 0 0;
		max-width: 100%;
		
	} 
	
	
	a.att_results_button.tablet {
		display: inline-block;
		margin-top: 25px;
		margin-bottom:67px;
		&:after {
			display: none;
		}
		&:hover {
			color:#fff;
		}
	}
	
	
	.att_slidetoggle {
		margin-top:-10px;
	}
	
	 .att_sidebar_info {
	   max-width:520px;
	   margin-left:auto;
	   margin-right:auto;
   }
	
	span.awards_title {
		border-top:0;
		padding-top: 57px;
	}
	
	.att_bio_awards {
    margin-top: 37px;
   }
   
  
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.sidebar_wrapper.att_sidebar {
		 padding-bottom: 149px;
	}
	
	   
	
	body.page-template-template-bio {
		.container.content {
			padding: 70px 32px 95px;
			h1 {
				text-align: center;
				&:after {
					position: relative;
					margin-left:auto;
					margin-right:auto;
					bottom:-28px;
				}
			}
		}
	}
	
	
	.att_image_wrapper.tablet {
		padding:0;
		&:after {
			display: none;
		}
		img {
			padding:0;
			width:100%;
		}
	} 
	
	
	span.sidebar_att_title.tablet {
		text-align: center;
	}
	
	a.att_results_button.tablet {
		padding-left:0;
		padding-right:0;
		max-width:292px;
		text-align: center;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 59px;
		display: block;
		
	}
	
	
	.att_slidetoggle {
		 ul.slidetoggle_list {
			 > li {
				 	font-size:18px;
				 	line-height: 35px;
			 }
		 }
	}
	
	
	.additional_posts {
    padding-top: 47px;
	}
	
	
	span.awards_title {
    padding-top: 30px;
	}
	
	
	.att_bio_awards {
		.slick-dots {
    	bottom: -37px;
		}
	}
	
	span.att_video_title {
    margin-top: 102px;
	}
	
	
	.att_sidebar_info {
		padding:0 20px;
	}
	
	
	.att_yt {
		a {
			.att_video_overlay {
				svg {
					width:122px;
					height:122px;
				}
			}
		}
	}
	
	
	
} /* Media Query */


