body.page-template-template-contact {
	.footer_right {
		display: none;
	}
}


.contact_wrapper {
	max-width:1345px;
	margin:97px auto 20px;
	display: flex;
	justify-content: space-between;
}


.contact_col {
	flex-basis:30%;
	font-family: $aktiv;
	font-weight: 400;
	font-size:27px;
	line-height: 32px;
	color:$greentwo;
	&:first-of-type {
		padding:69px 25px 0;
	}
	&:nth-of-type(2) {
		text-align: center;
		
	}
	&:last-of-type {
		padding:69px 11px 0 0;
	}
	span.contact_page_address {
		display: block;
	}
	a.cp_get_directions {
		display: inline-block;
		background: $browntwo;
		color:#fff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $aktiv;
		font-weight: 800;
		font-size:13px;
		letter-spacing: 0.2em;
		line-height: 13px;
		margin-top:33px;
		padding:8px 33px;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $greentwo;
		}
	}
	img.firm_img {
		width:315px;
		
		margin-bottom:45px;
	}
}

a.contact_page_phone {
	display: flex;
	color:$greentwo;
	text-decoration: none;
	justify-content: space-between;
	
	span {
		&:first-of-type {
			
		}
	}
}


.cp_social_media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:270px;
	margin-left:auto;
	text-align: right;
	a {
		display: block;
		&:hover {
			svg {
				.sm-st0 {
					fill:$browntwo;
				}
			}
		}
		svg {
			width:22px;
			height:22px;
			.sm-st0 {
				fill:$greentwo;
				transition: all 200ms ease-in-out;
			}
		}
	}
	a.youtube {
					svg {
						width:30px;
						height:30px;
					}
				}
				a.google {
					svg {
						width:27px;
						height:27px;
					}
				}
				a.linkedin {
					svg {
						width:20px;
						height:20px;
					}
				}
}


.iframe_map {
	width:100%;
	height:550px;
}
