body.page-template-template-meetteam {
	
	#internal_main {
		background: $greyone;
		padding-left:0;
		padding-right:0;
	}
}


.att_intro {
	width:100%;
}


.att_intro_inner {
	max-width:1230px;
	margin:0px auto 0;
	padding:143px 55px 140px;
	display: flex;
	position: relative;
	z-index:1;
}


.att_intro_left {
	flex-basis:415px;
	flex-shrink:0;
	img {
		max-width:100%;
		height:auto;
	}
}


img.clifford_img.tablet {
	display: none;
}


.att_intro_right {
	margin-top:25px;
	padding-right:15px;
	padding-left:10%;
	
	span.clifford_title {
		color:$greentwo;
		font-size:75px;
		line-height: 80px;
		font-family: $questa;
		font-weight: 500;
		display: block;
	}
	span.position {
		display: block;
		text-transform: uppercase;
		color:$greentwo;
		font-family: $aktiv;
		margin:15px 0 0;
		font-weight:800;
		font-size:20px;
		letter-spacing: 0.1em;
		border-bottom:1px solid $browntwo;
		padding-bottom:38px;
		position: relative;
		&:after {
			content:"";
			display: block;
			width:85px;
			height:3px;
			background:$browntwo;
			position: absolute;
			bottom:-2px;
			left:0;
		}
	}
	.clifford_intro {
		margin-top:30px;
	}
	a.view_profile {
		color:#fff;
		text-transform: uppercase;
		font-family: $aktiv;
		font-weight: 800;
		font-size:17px;
		letter-spacing: 0.18em;
		margin:15px 0 0;
		padding:26px 38px;
		position: relative;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
		&:after {
			content:"";
			border-radius: 45px;
			width:100%;
			height:100%;
			display: block;
			position: absolute;
			top:0;
			left:0;
			z-index: -2;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c57a55+0,e29e7b+31,e29e7b+73,c57a55+100 */
			background: #c57a55; /* Old browsers */
			background: -moz-linear-gradient(top, #c57a55 0%, #e29e7b 31%, #e29e7b 73%, #c57a55 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #c57a55 0%,#e29e7b 31%,#e29e7b 73%,#c57a55 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #c57a55 0%,#e29e7b 31%,#e29e7b 73%,#c57a55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c57a55', endColorstr='#c57a55',GradientType=0 ); /* IE6-9 */
			transition: all 200ms ease-in-out;
		}
		&:before {
			content:"";
			width:100%;
			border-radius: 45px;
			height:100%;
			display: block;
			position: absolute;
			opacity: 0;
			visibility: hidden;
			transition: all 200ms ease-in-out;;
			top:0;
			left:0;
			z-index: -1;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005941+0,008964+32,008964+70,005941+100 */
			background: #005941; /* Old browsers */
			background: -moz-linear-gradient(top, #005941 0%, #008964 32%, #008964 70%, #005941 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #005941 0%,#008964 32%,#008964 70%,#005941 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #005941 0%,#008964 32%,#008964 70%,#005941 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005941', endColorstr='#005941',GradientType=0 ); /* IE6-9 */
		}
	}
}



.meet_team_wrapper {
	background:#fff;
	padding:95px 55px 95px;
}


.meet_team_inner {
	max-width:1565px;
	margin:0 auto;
	.team_title_wrapper {
		display: flex;
		padding:85px 0 75px;
		span.team_title {
			display: block;
			text-transform: uppercase;
			color:$greentwo;
			font-family: $aktiv;
			font-weight: 800;
			font-size: 20px;
			flex-shrink: 0;
			letter-spacing: 0.14em;
		}
		span.team_title_line {
			width:100%;
			height:1px;
			background: $browntwo;
			display: block;
			vertical-align: top;
			margin-top:9px;
			margin-left:26px;
			position: relative;
			&:after {
				content:"";
				width:82px;
				height:3px;
				background:$browntwo;
				display: block;
				position: absolute;
				bottom:-1px;
				left:0;
			}
		}
	}
}


.meet_team_group {
	&:after {
		content:"";
		display: block;
		clear:both;
	}
	.att_single {
		width:23%;
		float:left;
		margin-right:2.5%;
		margin-bottom:100px;
		&:hover {
			.att_inner_single {
				.att_overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&:nth-of-type(4n + 4) {
			margin-right:0;
		}
		a {
			display: block;
			text-decoration: none;
		}
		.att_inner_single {
			position: relative;
			
			img {
				max-width:100%;
				height:auto;
				display: block;
			}
			.att_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: rgba(0,0,0,0.5);
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				visibility: hidden;
				transition: all 300ms ease-in-out;
				&:after {
					content:"View Profile";
					color:#fff;
					text-transform: uppercase;
					font-family: $aktiv;
					font-weight: 800;
					letter-spacing: 0.2em;
					font-size:13px;
				}
			}
		}
	}
	span.att_single_title {
		display: block;
		text-align: center;
		color:$greentwo;
		font-size:30px;
		letter-spacing: 0.02em;
		font-family: $questa;
		font-weight:500;
		margin:44px 0 0;
		&:after {
			content:"";
			width:75px;
			height:3px;
			background: $browntwo;
			display: block;
			margin:13px auto 18px;
		}
	}
	span.att_single_position {
		color:$greentwo;
		text-transform: uppercase;
		display: block;
		text-align: center;
		font-family: $aktiv;
		font-weight: 800;
		font-size:16px;
		letter-spacing: 0.2em;
	}
}


@media screen and (max-width: 1360px) {
	
	
	
.meet_team_group {
	&:after {
		
	}
	.att_single {
		
		&:hover {
			.att_inner_single {
				.att_overlay {
					
				}
			}
		}
		width:32%;
		margin-right:2%;
		&:nth-of-type(4n + 4) {
			margin-right:2%;
		}
		&:nth-of-type(3n + 3) {
			margin-right:0%;
		}
		a {
			
		}
		.att_inner_single {
			
			
			img {
				
			}
			.att_overlay {
				
				&:after {
					
				}
			}
		}
	}
	span.att_single_title {
		
		&:after {
		
		}
	}
	span.att_single_position {
		
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1290px) {
	
	
	
	.att_intro_right {
		padding-left: 6%;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1175px) {
	
	
	.att_intro_inner {
		flex-direction: column;
		padding-top:55px;
		padding-bottom:100px;
	}
	
	.att_intro_left {
		display: none;
	}
	
	.att_intro_right {
		order:1;
		padding-left:0;
		padding-right:0;
		text-align: center;
		
		span.clifford_title {
			
		}
		span.position {
			&:after {
				position: relative;
				margin:0 auto;
				bottom: -40px;
			}
			
		}
	}
	
	
	img.clifford_img.tablet {
		display: block;
		margin:40px auto 0;
		max-width:100%;
		height:auto;
}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	

.meet_team_wrapper {
	padding: 95px 55px 45px;
}


.meet_team_inner {
	.team_title_wrapper {
		padding: 35px 0 79px;
	}
}
	
.meet_team_group {
	&:after {
		
	}
	.att_single {
	  margin-bottom: 70px;
		&:hover {
			.att_inner_single {
				.att_overlay {
					
				}
			}
		}
		width:48%;
		margin-right:3%;
		&:nth-of-type(4n + 4) {
			margin-right:3%;
		}
		&:nth-of-type(3n + 3) {
			margin-right:3%;
		}
		&:nth-of-type(2n + 2) {
			margin-right:0%;
		}
		a {
			
		}
		.att_inner_single {
			
			
			img {
				
			}
			.att_overlay {
				
				&:after {
					
				}
			}
		}
	}
	span.att_single_title {
		
		&:after {
		
		}
	}
	span.att_single_position {
		
	}
}

	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.meet_team_wrapper {
		padding: 45px 32px 20px;
		.team_title_wrapper {
	    padding: 20px 0 59px;
		}
	}
	
	.att_intro_inner {
		padding:45px 32px 90px;
	}
	
	
	
.meet_team_group {
	&:after {
		
	}
	.att_single {
	  margin-bottom: 60px;
		&:hover {
			.att_inner_single {
				.att_overlay {
					
				}
			}
		}
		width:100%;
		max-width:446px;
		margin-left:auto;
		margin-right:auto;
		float:none;
		&:nth-of-type(4n + 4) {
			margin-left:auto;
			margin-right:auto;
		}
		&:nth-of-type(3n + 3) {
			margin-left:auto;
			margin-right:auto;
		}
		&:nth-of-type(2n + 2) {
			margin-left:auto;
			margin-right:auto;
		}
		a {
			
		}
		.att_inner_single {
			
			
			img {
				
			}
			.att_overlay {
				
				&:after {
					
				}
			}
		}
	}
	span.att_single_title {
		margin: 33px 0 0;
		&:after {
		
		}
	}
	span.att_single_position {
		
	}
}

.att_intro_right {
	span.position {
		font-size: 16px;
	}
	span.clifford_title {
		font-size: 50px;
    line-height: 50px;
	}
}
	
	
} /* Media Query */