body.page-template-template-padirectory {
	span.title_line {
		display: none;
	}
}


.pa_directory {
	//max-width:1560px;
	margin:-34px auto 0;
	ul {
		list-style: none;
		li {
			font-family: $aktiv;
			a {
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
	ul.menu {
		> li {
				text-transform: uppercase;
				font-weight:800;
				font-size:20px;
				letter-spacing: 0.14em;
				padding:122px 9.5%;
				&:nth-of-type(2n + 2) {
					background:#f4f4f0;
				}
				a {
					color:$greentwo;
					display: flex;
					justify-content: space-between;
					span {
						display: block;
					}
					span.flex_wrap {
						
					}
					span.pa_line {
						height:3px;
						background:$browntwo;
						flex-grow: 1;
						vertical-align: top;
						margin-top:7px;
						margin-left:22px;
					}
				}
		}
	}
	ul.sub-menu {
		margin:78px 0 0;
		&:after {
			content:"";
			display: block;
			clear:both;
		}
		li {
			text-transform: none;
			font-weight: 700;
			font-size:16px;
			letter-spacing: 0;
			border-bottom:1px solid #d6d6ce;
			padding:22px 20px;
			transition: all 300ms ease-in-out;
			background: transparent;
			float:left;
			width:23%;
			margin-right:2.6%;
			&:nth-of-type(4n + 4) {
				margin-right:0;
			}
			&:hover {
				background: $browntwo;
				a {
					color:#fff;
				}
			}
			a {
				color:#000;
				display: block;
			}
		}
	}
}