body.page-template-template-padirectory {
	.one_col {
		padding:0;
	}
	span.title_line {
		display: none;
	}
}




.pa_directory {
	margin:-34px 0 0;
	ul {
		list-style: none;
		li {
			font-family: $aktiv;
			a {
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
	ul.menu {
		> li {
				text-transform: uppercase;
				font-weight:800;
				font-size:20px;
				letter-spacing: 0.14em;
				padding:122px 9.5%;
				&:nth-of-type(2n + 2) {
					background:#f4f4f0;
				}
				a {
					color:$greentwo;
					display: flex;
					justify-content: space-between;
					cursor: default;
					span {
						display: block;
					}
					span.flex_wrap {
						
					}
					span.pa_line {
						height:3px;
						background:$browntwo;
						flex-grow: 1;
						vertical-align: top;
						margin-top:8px;
						margin-left:22px;
					}
				}
		}
	}
	ul.sub-menu {
		margin:78px 0 0;
		&:after {
			content:"";
			display: block;
			clear:both;
		}
		li {
			text-transform: none;
			font-weight: 700;
			font-size:16px;
			letter-spacing: 0;
			border-bottom:1px solid #d6d6ce;
			padding:0px 20px;
			height:63px;
			transition: all 300ms ease-in-out;
			background: transparent;
			float:left;
			width:23%;
			margin-right:2.6%;
			display: flex;
			align-items: center;
			line-height:1.3em;
			&:nth-of-type(4n + 4) {
				margin-right:0;
			}
			&:hover {
				background: $browntwo;
				a {
					color:#fff;
					cursor: pointer;
				}
			}
			a {
				color:#000;
				display: block;
			}
		}
	}
}


@media screen and (max-width: 1300px) {
	
	
	
	.pa_directory {
		ul.menu {
			> li {
				padding-left:5%;
				padding-right:5%;
				> a {
						
				}
			}
		}
	}
	
	
	
} /* Media Query */




@media screen and (max-width:1066px) {
	
	
	
	
.pa_directory {
	margin: -13px 0 0;
	ul {
		
		li {
			
			a {
				
			}
		}
	}
	ul.menu {
		> li {
				padding: 72px 63px;
				&:nth-of-type(2n + 2) {
					
				}
				a {
					
					
					span {
						
					}
					span.flex_wrap {
						
					}
					span.pa_line {
						
					}
				}
		}
	}
	ul.sub-menu {
		margin: 43px 0 0;
		&:after {
			
		}
		li {
			width:31%;
			margin-right:3%;
			&:nth-of-type(4n + 4) {
				margin-right:3%;
			}
			&:nth-of-type(3n + 3) {
				margin-right:0%;
			}
			&:hover {
				
				a {
					
				}
			}
			a {
				
			}
		}
	}
}

	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
.pa_directory {
	
	ul {
		
		li {
			
			a {
				
			}
		}
	}
	ul.menu {
		> li {
				font-size: 16px;
				padding: 59px 63px;
				&:nth-of-type(2n + 2) {
					
				}
				a {
					
					
					span {
						
					}
					span.flex_wrap {
						
					}
					span.pa_line {
						
					}
				}
		}
	}
	ul.sub-menu {
		
		&:after {
			
		}
		li {
			margin-right:7%;
			width:46%;
			&:nth-of-type(4n + 4) {
				margin-right:7%
			}
			&:nth-of-type(3n + 3) {
				margin-right:7%
			}
			&:nth-of-type(2n + 2) {
				margin-right:0%
			}
			&:hover {
				
				a {
					
				}
			}
			a {
				
			}
		}
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 690px) {
	
	
	.pa_directory {
	
	ul {
		
		li {
			
			a {
				
			}
		}
	}
	ul.menu {
		> li {
				font-size: 16px;
				padding: 51px 30px;
				&:nth-of-type(2n + 2) {
					
				}
				a {
					
					
					span {
						
					}
					span.flex_wrap {
						
					}
					span.pa_line {
						
					}
				}
		}
	}
	ul.sub-menu {
		margin: 24px 0 0;
		&:after {
			
		}
		li {
			margin-right:0%;
			width:100%;
			height:auto;
			display: block;
			padding-top:21px;
			padding-bottom:21px;
			&:nth-of-type(4n + 4) {
				margin-right:0%;
			}
			&:nth-of-type(3n + 3) {
				margin-right:0%;
			}
			&:nth-of-type(2n + 2) {
				margin-right:0%;
			}
			&:hover {
				
				a {
					
				}
			}
			a {
				
			}
		}
	}
}
	
	
	
	
} /* Media Query */